name: Build and Release

on:
  push:
    tags:
      - 'v*'   # запускать только при пуше тега вида v0.2.1

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install deps
        run: npm ci

      - name: Package extension
        run: npm run package

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ezimport-*.zip
            prerelease: ${{ contains(github.ref_name, '-beta') || contains(github.ref_name, '-rc') }}